h {
    margin-bottom: 6px;
    margin-top: 8px;
    font-size: 16pt;
    display: inline-block;
}

li {
    margin-left: -15px;
    line-height: 1.1em;
    margin: 15px;
    list-style-image: url("../assets/bullet.png");
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li li {
    margin: 2px 10px;
    margin-left: -15px;
    line-height: 1.1em;
    list-style-type: circle;
    list-style-image: none;
    font-size: 12pt;
}

li ul {
    margin-bottom: 15px;
}

.column hr {
    margin-bottom: 0px;
}

li div {
    line-height: 150%;
    padding: 10px 20px;
}

h2, h3, h4 {
    text-align: center;
    margin: 0;
    position: relative;
}

.column {
    vertical-align: top;
    position: relative;
    width: 49.5%;
    display: inline-block;
    margin-top: 30px
}

.column > ul {
    width: 85%;
    display: block;
    margin: auto;
}

.column hr {
    width: 85%; margin-top: 10px;
}

.body {
    margin-top: 15px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.star-holder > * {
    display: inline-block;
    vertical-align: middle;
}

.star-holder {
    margin: auto;
    width: 80%;
}

.star {
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url("../assets/star.svg");
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.star.big {
    width: 48px;
    height: 48px;  
}

.star.left {
    margin-right: 10%;
}

.star.right {
    margin-left: 10%;
}

#steamdetector.success > h3 {
    color: #0f0;
}

/* this will never show in awesomium, which is good because it's broken there: */
#steamdetector.failure > h3 {
    animation: error 0.5s alternate-reverse infinite;
}
@keyframes error {
    from { color: #fff; }
    to { color: #f00; }
}

#donatelink {
    position: relative;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    font-family: 'Recursive', sans-serif;
    font-size: 14pt;
    
    cursor: not-allowed;

    background-color: #777777;
    border-top: 5px solid #858585;
    border-left: 5px solid #858585;
    border-bottom: 5px solid #707070;
    border-right: 5px solid #707070;
    border-radius: 30px;
}

#donatelink.success:active {
    background-color: #f59d1a;
    border-bottom: 5px solid #f0b051;
    border-right: 5px solid #f0b051;
    border-top: 5px solid #cc8317;
    border-left: 5px solid #cc8317;
}

/* the fact I have to do this on awesomium is retarded */
.button-centerer {
    position: relative;
    width: 100%;
    text-align: center;
}

#donatelink.success {
    cursor: pointer;
    background-color: #ffac33;
    border-top: 5px solid #ffcb7d;
    border-left: 5px solid #ffcb7d;
    border-bottom: 5px solid #cc8317;
    border-right: 5px solid #cc8317;
}