@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');


:root {
    --text-color: #eeeeee;
    --transparent-gray: rgb(80,82,84);
    --gray-t2: rgb(80,82,84);
    --mobile-text-scaling: 150%;
    font-weight: 400;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f3234;
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 11pt;
    line-height: 1.25;
    word-spacing: -0.75px; 
}

section {
    background-color: var(--transparent-gray);
    padding: 15px;
    text-align: justify;
}

.widthlimiter {
    margin: auto;
    max-width: calc( min(80vw, 1920px) );
    padding: 10px;
}

.space {
    margin-left: 5px;
    display: inline;
}

.emdash {
    display: inline-block;
    text-align: center;
    width:13pt;
    transform: scale(1.7, 1);
}

.description {
    margin: 0 15px 15px 15px;
    line-height: 140%;
    width: auto;
}

.footer {
    margin: 15px 15px 0 15px;
    line-height: 140%;
    width: auto;
}

img {
    background-color: var(--transparent-gray);
    padding: 15px 15px;
    margin: 0px 15px;
    max-width: 100%;
    box-sizing: border-box;
}

li::marker{
    font-size: 12pt;
}

ul {
    margin: 0px;
}

a {
    color: #b1b1ff;
}

a:visited {
    color: #eca1ff;
}

::selection {
    background: #70b0ff44;
}

.shadow {
    filter: drop-shadow(0 0 4px #000000);
}


/* titles for about me sections */
.titlesection {
    font-size: 24px; 
    text-align: center; 
    margin-bottom: 15px;
}