li h {
    margin-bottom: 6px;
    margin-top: 8px;
    font-size: 16pt;
}


li::before {
    content: ">"; /* Insert content that looks like bullets */
    font-size: 14px;
}
li {
    margin-left: -15px;
    line-height: 1.1em;
    margin: 15px;
}
ul {
    list-style-type: none;
    overflow: hidden;
}

li div {
    font-size: 12pt;
    line-height: 150%;
    padding: 10px 20px;
}

h2, h3, h4 {
    text-align: center;
    margin: 0;
}
