

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

#donatelink.success:hover {
    text-shadow: 0 0 15pt #ffeaca, 0 0 10pt #ffeaca, 0 0 10pt #ffeaca, 0 0 5pt #ffeaca;
    box-shadow: 0 0 15px #805719;
}

#donatelink {
    padding: 3px 40px 6px 40px;
    -webkit-transition: box-shadow 0.15s, text-shadow 0.15s;
}

#donatelink.success:active div {
    -webkit-transform: translate(0px,2px);
}