@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

.awesomium-nav-bg {
	top: 0;
    height: 51px;
    width: 90%;
    position: absolute;
    background: #000000;
}

.nav {
    display: flex;
    -js-display: flex;
    font-family: 'Recursive', sans-serif;
    font-style: italic;
	position: fixed;
	top: 0;
    justify-content: space-between; 
    width: 100%;
    overflow-x: clip;
    overflow-y: visible;
}

.home {
    display: inline-block;
    padding: 12px;
    font-size: 16pt;
    color: #ffffff;
    font-weight: 100;
    text-shadow: 
        0 0 3pt #fff, 0 0 3pt #888,
        0 0 10pt #09f, 0 0 14pt #09f, 0 0 7pt #09f, 0 0 28pt #09f,
        0 0 32pt #00f, 0 0 30pt #00f, 0 0 40pt #00f, 0 0 32pt #00f, 0 0 32pt;
}

.pages {
    color: #ffffff;
    display: inline-block;
}    

.dropdown {
    /* thought so */
    display: inline-block;
}

.dropdown-head {
    display: block;
    font-size: 13pt;
    background: #000000;
    text-align: center;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
    background-color: #000000;
}

.dropdown a:hover {
    text-shadow: 
        0 0 7pt #09f, 0 0 28pt #09f,
        0 0 32pt #00f, 0 0 30pt #00f, 0 0 40pt #00f, 0 0 32pt #00f, 0 0 32pt;
}

a.cwd:hover {
    text-shadow: 
        0 0 7pt #09f, 0 0 28pt #09f,
        0 0 20pt #00f, 0 0 10pt #00f !important;
}

.dropdown-content a {
    display: block;
    text-align: left;
    padding: 15px;
    font-size: 12pt;
}

.dropdown a {
    text-decoration: none;
    color: #ffffff;
}

.cwd {
    background: rgb(34,34,34) !important;
}