
/* Navbar Utils */
    div.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
    }
    
    ne {
        float: right;
    }
    
    ne a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Trebuchet MS', serif;
    }
    
    ne a:hover:not(.active) {
        background-color: #111;
    }
    
    .active {
        background-color:#5b5b61;
    }
/* Navbar Utils */
